@charset "UTF-8";

/* header 영역 */

header{
    position: relative;
    width: 100%;
    min-width: 1100px;
    height: 100px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100px;
}
header::after{
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    top: 100px;
    content: "";
    background: linear-gradient(to right, #ccc 0%, transparent 100%);
    z-index: 10;
}

/* [S] 1.h1 */
h1{
    grid-column-start: 1;
    grid-column-end: 2;
    cursor: pointer;
}
h1 span{
    position: absolute;
    display: inline-block;
    height: 100px;
    left: 140px; /*이미지100, 양쪽여백 20씩*/
    color: #ccc;
    line-height: 100px;
    font-size: 40px;
}
h1 .logo{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 20px;
    background-color: #000;
}
h1 .logo img{
    position: relative;
    width: 80px;
    margin: 10px;
}

/* [S] 2.nav */
nav{
    grid-column-start: 2;
    grid-column-end: 3;
}
nav .tMenu{
    position: relative;
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    text-align: center;
    cursor: pointer;
}
nav .menu{
    position: relative;
    z-index: 10;
}
nav .menu>a{
    display: inline-block;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    color: #ccc;
}
/* nav .menu>a::after{
    position: relative;
    content: "·";
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
}
nav .menu:last-child>a::after{
    content: none;
} */

nav .subMenu{
    display: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
}
nav .subMenu .smenu{
    line-height: 50px;
}
nav .subMenu .smenu a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #ccc;
}

/* [S] 3.login */
#login_area{
    grid-column-start: 3;
    grid-column-end: 4;
    z-index: 30;
    padding-right: 10%;
    z-index: 20;
    background-color: #000;
}
#login_area ul{
    height: 100px;
    overflow: hidden;
}
#login_area li{
    position: relative;
    line-height: 100px;
    text-align: center;
    float: left;
    width: 30%;
}
#login_area li a{
    font-size: 15px;
    color: #ccc;
}
#login_area .srch_btn{
    position: relative;
    cursor: pointer;
}
#login_area .srch_btn img{
    position: relative;
    width: 20px;
    height: 20px;
    top: 4px;
    filter: invert(80%);
}
#header_search{
    position: absolute;
    height: 70px;
    width: 15%;
    right: 0px;
    top: 0px;
    /*background-color: #000; */
    /* display: none; */
    z-index: 10;
}
#header_search form{
    position: relative;
    width: 100%;
    height: 50px;
    right: 0px;
    margin: 20px auto;
}
#header_search input{
    position: absolute;
    top: 0;
    left: 0px;
    width: 180px;
    height: 50px;
    padding: 10px 15px;
    border-radius: 20px 0 0 20px;
    border: 3px solid #bababa;
    border-right: none;
    outline: none;
    background-color: rgb(32,32,55);
    font-size: 14px;
    color: #ccc;
}
#header_search input:focus{
    color: #ccc;
    border-bottom: 3px solid #ccc;
}
#header_search .srch_btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 0 20px 20px 0;
    border: 3px solid #bababa;
    border-left: none;
    background-color: rgb(32,32,55);
    cursor: pointer;
}
#header_search .srch_btn img{
    position: relative;
    width: 20px;
    filter: invert(80%);
}
#header_search .hidden{
    visibility: hidden;
}
#header_search .closed{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 10px;
    color: #fff;

}
/* footer 영역 */
footer{
    position: relative;
    width: 100%;
    min-width: 110px;
    height: 150px;
    background: rgba(0, 0, 0, 1);
}
footer::before{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, transparent 100%);
    z-index: 10;
    pointer-events: none;
}
#footer_link{
    position: relative;
    width: 100%;
    z-index: 20;
}
#footer_link ul{
    position: relative;
    width: 500px;
    height: 150px;
    margin: 0 auto;
    line-height: 150px;
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#footer_link li{
    position: relative;
    font-size: 16px;
}
#footer_link li::after{
    position: absolute;
    top: 0;
    content: "·";
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
}
#footer_link li:last-child:after{
    content: none;
}
#footer_link li a{
    display: inline-block;
    width: 100%;
    color: #ccc;
}
footer .copyright{
    position: relative;
    width: 500px;
    text-align: center;
    top: -50px;
    margin: 20px auto;
    font-style: italic;
    font-size: 15px;
    color: #aaa;
    z-index: 20;
}