@charset "utf-8";

#login_wrap{
    position: relative;
    width: 100%;
    height: 100vh;
    min-width: 1100px;  
    background-image:url('../images/login_background1.jpg');
    background-repeat: no-repeat;
	background-size: cover; 
    
}

.login_area {
    position: relative;
    width: 65%;
    min-width: 1100px;
    margin: 0 auto;
    display: grid;
    text-align: center;
}

.login_area a img {
    width: 150px; 
    height: 150px;
}

.login_welcome{
    font-family: 'sqneoHV';
    font-size: 40px;
    opacity: 0.8;
    color:#fff;
}

.logo_area{
    margin: 100px 0 70px
}

fieldset {
   margin: 60px 0 30px 0;
}

fieldset label{
    font-family: 'sqneoEB';
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

fieldset label[for="user_id"]{
    position: relative;
    right: 80px;
    color:#fff;
    opacity: 0.8;
}

fieldset label[for="user_pwd"]{
    position: relative;
    right: 72px;
    color:#fff;
    opacity: 0.8;
}

#user_id{
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #ccc;
    width: 230px;
    padding: 15px 0 15px 0;
    opacity: 0.5;
    margin-bottom: 30px;
    text-indent: 15px;
    font-size: 15px;
}

#user_pwd{
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #ccc;
    width: 230px;
    padding: 15px 0 15px 0;
    opacity: 0.5;
    text-indent: 15px;
    margin-bottom: 50px;
    font-size: 15px;
}

#user_login{
    width: 230px;
    padding: 20px;
    border-radius: 50px;
    font-size: 25px;
    color: #fff;
    border: 1px solid rgb(202, 47, 189);
    background: rgb(202, 47, 189);
    font-family: 'sqneoEB';
    cursor: pointer;
}

#seacrh_join_area{
    position: relative;
    bottom: 15px;
    color:#fff;
    opacity: 0.8;
}

#seacrh_join_area ul{
    text-align: center;
}

#seacrh_join_area ul li{
    display: inline-block;
    font-size: 16px;
}

#seacrh_join_area ul li a{
    color: #fff;
}

#seacrh_join_area ul li:nth-child(1) {
    margin-right: 10px;
}


