@charset "utf-8";

#meeting_wrap {
    position: relative;
    width: 100%;
    min-width: 1100px;
    margin-top: 35px;   
}

#meeting_table_wrap{
    position: relative;
    width: 65%;
    margin: 0 auto;
}

caption {
    text-indent:-10000px;
}

.meeting_table_list {
    width: 100%;
    border-top: 2px solid rgb(67, 68, 67);
    margin: 0 auto;
}

.meeting_table_list thead {
    background: #ccc;
}

.meeting_table_list tr {
    border-bottom: 1px solid #ccc;
}

.meeting_table_list th,
.meeting_table_list td {
    padding: 15px;
    font-size: 15px;
}

.meeting_table_list th {
    font-family: 'sqneoEB';   
}

.meeting_table_list td {
    text-align: center;
}

.meeting_table_list .meeting_list_title a:hover {
    color: #ccc;
}

/* 글쓰기 영역 */

#meeting_btn_wrap{
    position: relative;
    width: 65%;
    margin: 0 auto;
}

#meeting_write {
    text-align: right;
    margin-top: 18px;
}
#meeting_write .meeting_write_btn{
    padding: 5px;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    border-radius: 2px;
    font-size: 15px; 
    cursor: pointer;   
}

/* 페이지 영역 */

#meeting_page {
    position: relative;
    text-align: center;
    font-size: 0;
    top : 50px;
}

#meeting_page a {
    width: 26px;
    height: 26px;
}

#meeting_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
}

#meeting_page a.btn_prev, a.btn_next {
    padding-top: 9px;
    font-size: 15px;
    letter-spacing: -1px;
}
#meeting_page a.num {
    padding-top: 9px;
    font-size: 15px;
}

#meeting_page a.num.click {
    border-color: #000;
    background: #000;
    color: #fff;
}

#meeting_page a:first-child {
    border-left: 1px solid #ddd;
}

/* 검색영역 */

#meeting_search_wrap {
    position: relative;
    text-align: center;
    top: 80px;
}

select {
    width: 70px;
    height: 30px;
}

#meeting_search_wrap #meeting_search_content{
    padding: 6px;

}
#meeting_search_wrap #meeting_search_btn{
    padding: 5px;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    border-radius: 2px;
    font-size: 15px; 
    cursor: pointer;   
    vertical-align: middle;
    display: inline-block;
}


