@charset "utf-8";
#container {
    width: 100%;
    min-width: 1100px;
    position: relative;
    margin: 0 auto;
}
#noticeArea {
    width: 65%;
    position: relative;
    margin: 0 auto;
   /* border: 1px solid red;*/
}

.noice_tbl, .searchArea {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
/* 내용 */
.noice_tbl {
    width: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    border-top: 2px solid #999;
}

.board_table{
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    border-bottom: 2px solid #999;
}

.board_table caption {
  display: none;
}
.board_table thead {
  background-color: rgba(22, 8, 58, 0.7);
  color: #fff;
  font-size: 15px;

}

.board_table tr {
  border-bottom: 1px solid #ccc;
}

.board_table th, .board_table td {
  padding: 15px;
  font-size: 15px;
}
/* table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    margin: 0 auto;
    font-size: 13px;
    width: 100%;
    border: 1px solid green;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 30px;
    table-layout: fixed;
  }
   */
  .board_table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
  }
  .board_table a:hover {
    text-decoration: underline;
  }

  .board_table th {
    text-align: center;
  }

  .board_table .th_num {
    width: 100px;
    text-align: center;
  }

  .board_table .th_date {
    width: 200px;
  }
 .searchBox {
    position: relative;
    text-align: right;
    /* border: 1px solid red; */
    margin-top: 20px;

  }

  .searchRight { 

  }
  .searchRight input {

  }
  .noticePage {
    position: relative;
    text-align: center;
    width: 100%;
  }

  .noticePage a {
    border: 1px solid #999;
    color: #999;
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    padding-top: 7px;
  }

  .noticePage a:hover {
    background-color: rgba(22, 8, 58, 0.7);
    color: #fff
  }