@charset "UTF-8";

/* bookmark_menu */
#bookmark_div_wrap{
    position: fixed;
    top: 450px;
    width: 190px;
    height: 200px;
    min-height: 200px;
    z-index: 1000;
    text-align: center;
    /* left: -233px; */
    box-sizing: border-box;
    overflow: hidden;
    /* border-top: 2px solid #000;
    border-bottom: 2px solid #000; */
}
#bookmark_div_wrap::after{
    content: '';
    display: block;
    clear: both;
}

#bookmark_ul{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(32,32,55);
    border-left: none;
    border-right: none;
}
.bookmark_li{
    position: relative;
    height: 25%;
    width: 100%;
    background-color: #f0f0f0;
    font-size: 18px;
    box-sizing: border-box;
    border-bottom: 1px solid #999;

}
.bookmark_li:first-child{
    background-color: #f00;
    color: #fff;
    font-family: 'sqneoEB';
    font-size: 23px;
    line-height: 50px;
}

.bookmark_li:last-child{
    background-color: orange;
    border-bottom: none;
    /* border-right: 2px solid rgb(32,32,55); */
}

.bookmark_li:last-child>a{
    color: #fff;
}

.bookmark_li>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 2.7;
    color: #555;
    font-family: 'sqneoEB';
}
.bookmark_li:first-child>a{
    color: #fff;
}

/* go_up_button */
#go_up_div{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 75%;
    right: 3%;
    z-index: 1000000;
}
.go_up_img{
    width: 50px;
    height: 50px;
}


#container{
    position: relative;
    width: 65%;
    min-width: 1100px;
    top: 50px;
    height: auto;
    /* border: 1px solid; */
    margin: 0 auto;
    margin-bottom: 50px;
    border-top: 2px solid black ;
    padding-top: 30px;
}
#container::after{
    content: "";
    display: block;
    clear: both;
}

.contentArea {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
   /* border: 1px solid red;*/
    overflow: hidden;
}

/*그레이 배경*/
/* .gray_layer {
    position: fixed;
    top: 300px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(88, 55, 55, 0.3);
} */


.wall_page {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 30px;
}
.wall_page a {
    border: 1px solid #999;
    color: #999;
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    padding-top: 7px;
}
.wall_page a:hover {
    background-color: rgba(22, 8, 58, 0.7);
    color: #fff
}
.images {
    width: 100%;
    height: auto;
}
.images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width : 1100px) {
    .contentArea {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr ;
        gap: 30px;
        grid-auto-flow: row dense;
    }
    .image_flex01  {
        display: grid;
        row-gap: 30px; 
       
    }
     .image_flex02 {
        display: grid;
        row-gap: 30px; 
    }
     .image_flex03 {
        display: grid;
        row-gap: 30px; 
    }
}