@charset "UTF-8";

#wrap{
    position: relative;
    width: 100%;
    min-width: 1100px;
    height: 100%;
    background-image: url(../images/nightSky.jpg);
    background-attachment: fixed;
}

/* * * * [S] #container * * * */
#container{
    position: relative;
    width: 100%;
    height: 2800px;
    background-image: url(../images/background2.jpg);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}
/* #link_area */
#space_area{
    position: absolute;
    width: 100%;
    height: 85vh;
    bottom: 0;
    border: 3px solid #fff;
}
#space_area .skip{
    position: absolute;
    width: 100px;
    height: 50px;
    margin: 30px;
    cursor: pointer;
    z-index: 20;
}
.skip.up{
    bottom: 20px;
    right: 300px;
}
.skip.up img{
    width: 100px;
}
#space_area .cele{
    position: absolute;
    width: 100%;
    bottom: 0;
}
#space_area .cele .cele_ul{
    position: relative;
    width: 100%;
    height: 100vh;
}
#space_area .cele li{
    position: absolute;
    /* border: 1px solid #fff; */
}
#space_area .cele li.celestial1{
    left: 20%;
    top: 50%;
}
#space_area .cele li.celestial2{
    left: 40%;
    top: 20%;
}
#space_area .cele li.celestial3{
    right: 25%;
    top: 60%;
}
#space_area .cele li.celestial4{
    right: 5%;
    top: 20%;
}
#space_area .celestial img{
    position: relative;
    width: 300px;
    height: 300px;
}
#space_area .celestial .title{
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;

}

/* #earth_area */
/* ver.2*/
#earth_area_v2{
    position: absolute;
    width: 800px;
    height: 800px;
    bottom: -150px;
    left: 0px;
    overflow: hidden;
    z-index: 5;
    pointer-events: none;
}
#earth_area_v2 img{
    position: relative;
    width: 100%;
    height: 100%;
    left: -400px;
    bottom: -250px;
}

/* * * * [E] #container * * * */
