@charset "utf-8";

#view_wrap{
    position: relative;
    width: 100%;
    min-width: 1100px;
    margin-top: 50px;
}

/*글 내용 영역 */
.view_container {
 position: relative;
 width: 65%;
 margin: 0 auto;
 border-top: 2px solid #000;
}

#view_btn_comment_wrap {
    position: relative;
    width: 65%;
    margin: 0 auto;

}

.view_container .view_title {
    padding: 20px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

.view_container .view_info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.view_container .view_info ul {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.view_container .view_info ul:first-child {
    padding-left: 0;
}

.view_container .view_info ul li
 {
    display: inline-block;
    font-size: 15px;
}


.view_container .view_info ul li:nth-child(3),
.view_container .view_info ul li:nth-child(6),
.view_container .view_info ul li:nth-child(9){
    margin: 0 10px 0 10px;
}

.view_container .view_info ul li:nth-child(1),
.view_container .view_info ul li:nth-child(4),
.view_container .view_info ul li:nth-child(7),
.view_container .view_info ul li:nth-child(10){
   margin-right: 7px;
}

.view_container #view_content {
    padding: 15px;
    border-bottom: 2px solid #000;
    line-height: 160%;
    font-size: 20px;
}

/* 목록,수정 버튼 영역 */

#view_btn_wrap {
    margin-top: 15px;
    text-align: right;
}

#view_btn_wrap input {
    display: inline-block;
    width: 50px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    border-radius: 2px;
    font-size: 15px;
    left: 480px;
    cursor: pointer;   
    box-shadow: 0 5px 5px -5px #6e6d6d,
    -5px 0 5px -5px #6e6d6d, 
    5px 0 5px -5px #6e6d6d;
}

/* 댓글쓰기 영역 */

#comment_write{
    margin-top: 20px;
    margin-bottom: 30px;
    border-top: 2px solid #000;
    padding-left: 15px;
}

#comment_text_submit{
    display: flex;
}

#comment_count{
    margin-top: 20px;
    margin-bottom: 15px; 
}

#comment_text{
    width: 98%;
    height: 55px;
    resize: none;
    display: block;
    text-indent: 10px;
    margin-right: 10px;
}

#comment_submit{
    border: 1px solid #747272;
    background: #747272;
    width: 60px;
    height: 62px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 5px 5px -5px #6e6d6d,
    -5px 0 5px -5px #6e6d6d, 
    5px 0 5px -5px #6e6d6d;

}

/*댓글 보는 영역*/

#comment_view {
    position: relative;
    border-bottom: 2px solid rgb(87, 85, 85);
    padding-top: 10px;
    border-top: 1px solid #ccc;
    bottom: 10px;
}

#comment_view ul{
    display: flex;    
}

#comment_view ul li:nth-child(1){
    margin-top: 10px;
    margin-right: 30px;
}

#comment_view ul li:nth-child(2){
    margin-top: 10px;
    margin-right: 20px;

}

#comment_view ul li:nth-child(1) {
    margin-left: 20px;
}

#comment_view p{
    margin: 30px 0 30px 20px;
}

#comment_view input {
    padding: 2px;
    margin-left: 7px;
    margin-top: 4px;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    padding: 4px;
    box-shadow: 0 5px 5px -5px #6e6d6d,
    -5px 0 5px -5px #6e6d6d, 
    5px 0 5px -5px #6e6d6d;
}

    