@charset "utf-8";

#join_wrap{
    position: relative;
    width: 100%;
    height: 969px;
    min-width: 1100px;  
    background-image:url('../images/login_background1.jpg');
    background-repeat: no-repeat;
	background-size: cover; 
}

.join_area {
    position: relative;
    width: 65%;
    min-width: 1100px;
    margin: 0 auto;
    color:#fff;
    display: grid;
    text-align: center;
}
.logo_area{
    margin: 30px 0 40px 0;
}

fieldset {
   margin: 20px 0 20px 0;
}

.join{
    font-family: 'sqneoHV';
    font-size: 40px;
    opacity: 0.8;
}

.join_background{
    width: 625px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.5 );
    border-radius: 30px;
    color:  #000;
    text-align: center;
}

.join_background div {
    margin-top: 30px;
    margin-bottom: 40px;
}

.join_background fieldset{
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.join_background fieldset div{
    padding-bottom: 5px;
    border-bottom: 1px solid #666363;
}

.join_background fieldset div:nth-child(1){
    margin-top: 50px;
}

.join_background fieldset div:nth-child(8){
    border-style: none;
}

.join_background fieldset div label{
    position: relative;
    bottom: 10px;
    color: #3b3838;
}

.join_background fieldset div input{
    display: block;   
    background-color: transparent;
    border: none;  
    font-size: 15px;
    text-indent: 10px;
}

.join_background fieldset div input:focus {
    outline: none;
}

.join_background fieldset div .id_check{
    position: relative;
    float: right;
    border: 1px solid rgb(54, 47, 127);
    bottom: 33px;
    background: rgb(54, 47, 127);
    box-shadow: 0 5px 5px -5px rgb(96, 98, 150),
    -5px 0 5px -5px rgb(96, 98, 150), 
    5px 0 5px -5px rgb(96, 98, 150);
    color: #fff;
    padding: 7px;
    border-radius: 3px;   
}

#pwd_same_comfrim{
    position: absolute;
    bottom : 245px;
    font-size: 13px;
    border: none;
}

.join_background fieldset div:nth-child(8) {
    text-align: center;
}

.join_background fieldset .btn_join_area .btn_join{
    border: 1px solid rgb(202, 47, 189);
    background: rgb(202, 47, 189);
    box-shadow: 0 5px 5px -5px #333,
              -5px 0 5px -5px #333, 
              5px 0 5px -5px #333;
    margin: 0 auto;
    cursor: pointer;
    padding: 20px;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'sqneoEB';
    color: #fff;
    display: inline;
    width: 175px;
}

