@charset "UTF-8";

/* bookmark_menu */
#bookmark_div_wrap{
    position: fixed;
    top: 230px;
    width: 220px;
    height: 200px;
    min-height: 200px;
    z-index: 1000;
    text-align: center;
    left: -180px;
    box-sizing: border-box;
    overflow: hidden;
    /* border-top: 2px solid #000;
    border-bottom: 2px solid #000; */
}
#bookmark_div_wrap::after{
    content: '';
    display: block;
    clear: both;
}
#bookmark_sub_title{
    position: relative;
    width: 40px;
    background-color: #f00;
    height: 50%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    cursor: pointer;
    float: right;
    box-sizing: border-box;
    border: 2px solid black;
    border-left: none;
    top: -200px;
    margin: 0 auto;
}
#bookmark_sub_title>a{
    position: relative;
    display: inline-block;
    color: #fff;
    text-align: center;
}
#bookmark_ul{
    height: 100%;
    width: 180px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-left: none;
    border-right: none;
}
.bookmark_li{
    position: relative;
    height: 25%;
    width: 100%;
    background-color: #f0f0f0;
    font-size: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
}
.bookmark_li:first-child{
    background-color: orange;
}
.bookmark_li:nth-child(3){
    border-right: 2px solid black;
}
.bookmark_li:last-child{
    border-bottom: none;
    border-right: 2px solid black;
}
.bookmark_li>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 3.3;
    color: #555;
}
.bookmark_li:first-child>a{
    color: #fff;
}
/* header 영역 */

header{
    position: relative;
    width: 100%;
    min-width: 1100px;
    height: 100px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100px;
}
header::after{
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    top: 100px;
    content: "";
    background: linear-gradient(to right, #000 0%, transparent 100%);
    z-index: 10;
}

/* [S] 1.h1 */
h1{
    grid-column-start: 1;
    grid-column-end: 2;
    cursor: pointer;
}
h1 span{
    position: absolute;
    display: inline-block;
    height: 100px;
    left: 140px; /*이미지100, 양쪽여백 20씩*/
    color: #000;
    line-height: 100px;
    font-size: 40px;
}
h1 .logo{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 20px;
    background-color: #fff;
}
h1 .logo img{
    position: relative;
    width: 80px;
    margin: 10px;
}

/* [S] 2.nav */
nav{
    grid-column-start: 2;
    grid-column-end: 3;
}
nav .tMenu{
    position: relative;
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    text-align: center;
    cursor: pointer;
}
nav .menu{
    position: relative;
    z-index: 10;
}
nav .menu>a{
    display: inline-block;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    color: #000;
}
/* nav .menu>a::after{
    position: relative;
    content: "·";
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
}
nav .menu:last-child>a::after{
    content: none;
} */

nav .subMenu{
    display: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
}
nav .subMenu .smenu{
    line-height: 50px;
}
nav .subMenu .smenu a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #000;
}

/* [S] 3.login */
#login_area{
    grid-column-start: 3;
    grid-column-end: 4;
    z-index: 30;
    padding-right: 10%;
    z-index: 20;
    background-color: #fff;
}
#login_area ul{
    height: 100px;
    overflow: hidden;
}
#login_area li{
    position: relative;
    line-height: 100px;
    text-align: center;
    float: left;
    width: 30%;
}
#login_area li a{
    font-size: 15px;
    color: #000;
}
#login_area .srch_btn{
    position: relative;
    cursor: pointer;
}
#login_area .srch_btn img{
    position: relative;
    width: 20px;
    height: 20px;
    top: 4px;
    filter: invert(80%);
}
#header_search{
    position: absolute;
    height: 70px;
    width: 15%;
    right: 0px;
    top: 0px;
    /*background-color: #000; */
    /* display: none; */
    z-index: 10;
}
#header_search form{
    position: relative;
    width: 100%;
    height: 50px;
    right: 0px;
    margin: 20px auto;
}
#header_search input{
    position: absolute;
    top: 0;
    left: 0px;
    width: 180px;
    height: 50px;
    padding: 10px 15px;
    border-radius: 20px 0 0 20px;
    border: 3px solid #bababa;
    border-right: none;
    outline: none;
    background-color: rgb(32,32,55);
    font-size: 14px;
    color: #ccc;
}
#header_search input:focus{
    color: #ccc;
    border-bottom: 3px solid #ccc;
}
#header_search .srch_btn{
    position: absolute;
    top: 0;
    right: 18px;
    width: 50px;
    height: 50px;
    border-radius: 0 20px 20px 0;
    border: 3px solid #bababa;
    border-left: none;
    background-color: rgb(32,32,55);
    cursor: pointer;
}
#header_search .srch_btn img{
    position: relative;
    width: 20px;
    filter: invert(80%);
}
#header_search .hidden{
    visibility: hidden;
}
#header_search .closed{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 10px;
    color: #000;

}

/* content sample */

#container{
    position: relative;
    width: 90%;
    min-width: 1100px;
    top: 50px;
    height: auto;
    /* border: 1px solid; */
    margin: 0 auto;
    margin-bottom: 50px;
}
#container::after{
    content: "";
    display: block;
    clear: both;
}
#sub_page_h2{
    position: relative;
    width: 100%;
    font-size: 70px;
    margin-bottom: 50px;
    text-align: left;
}
.content_1{
    position: relative;
    border: 1px solid black;
    width: 35%;
    height: 200px;
    float: left;
}
.content_2{
    position: relative;
    border: 1px solid red;
    width: 55%;
    height: 200px;
    float: right;
}
.content_3{
    position: relative;
    border: 1px solid black;
    width: 60%;
    height: 200px;
    float: left;
}
.content_4{
    position: relative;
    border: 1px solid red;
    width: 35%;
    height: 660px;
    float: right;
}
.content_5{
    position: relative;
    border: 1px solid black;
    width: 45%;
    height: 200px;
    float: left;
}
.content_6{
    position: relative;
    border: 1px solid red;
    width: 55%;
    height: 200px;
    float: left;
}
.content_7{
    position: relative;
    border: 1px solid black;
    width: 30%;
    height: 200px;
    float: left;
}
.content_8{
    position: relative;
    border: 1px solid red;
    width: 55%;
    height: 200px;
    float: right;
}
.content_9{
    position: relative;
    border: 1px solid black;
    width: 60%;
    height: 200px;
    float: left;
}
.content_10{
    position: relative;
    border: 1px solid red;
    width: 35%;
    height: 600px;
    float: right;
}
.content_11{
    position: relative;
    border: 1px solid black;
    width: 45%;
    height: 200px;
    float: left;
}
.content_12{
    position: relative;
    border: 1px solid red;
    width: 55%;
    height: 200px;
    float: left;
}
.sample_content{
    margin-bottom: 30px;
}

/* footer 영역 */
footer{
    position: relative;
    width: 100%;
    min-width: 1100px;
    height: 150px;
    /* background: rgba(0, 0, 0, 1); */
}
footer::after{
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    top: 0;
    content: "";
    background: linear-gradient(to right, transparent 0%, #000 100%);
    z-index: 10;
}
footer::before{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, transparent 100%); */
    z-index: 10;
    pointer-events: none;
}
#footer_link{
    position: relative;
    width: 100%;
    z-index: 20;
}
#footer_link ul{
    position: relative;
    width: 500px;
    height: 150px;
    margin: 0 auto;
    line-height: 150px;
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#footer_link li{
    position: relative;
    font-size: 16px;
}
#footer_link li::after{
    position: absolute;
    top: 0;
    content: "·";
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
#footer_link li:last-child:after{
    content: none;
}
#footer_link li a{
    display: inline-block;
    width: 100%;
    color: #000;
}
footer .copyright{
    position: relative;
    width: 500px;
    text-align: center;
    top: -50px;
    margin: 20px auto;
    font-style: italic;
    font-size: 15px;
    color: #aaa;
    z-index: 20;
}