@charset "utf-8";

:root{
    --polygon: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    --polygon-color: #7000FF 0%, #9E52FF 70.1%, #FFFFFF 98.97%;
    --main-color: #7000FF;
}
/* * * * * * * * * * header 영역 * * * * * * * * * */
html,body,#wrap{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1100px;
}
/* * * * * * * * * * [S] #container * * * * * * * * * */
#container{
    position: relative;
    width: 100%;
    height: 700px;
    background-color: transparent;
    margin: 0 auto;
    padding-top: 80px;
}
#uquiz_area{
    position: relative;
    width: 65%;
    height: 100%;
    margin: 0 auto;
}
#polygon5{
    position: relative;
    width: 700px;
    height: 595px;
    margin: 0 auto;
    background: linear-gradient(-90deg, var(--polygon-color));
    -webkt-clip-path: var(--polygon);
    clip-path: var(--polygon);
}
#polygon4{
    position: relative;
    width: 670px;
    height: 570px;
    margin: 0 auto;
    top: 15px;
    background: #fff;
    -webkt-clip-path: var(--polygon);
    clip-path: var(--polygon);
}
#polygon3{
    position: relative;
    width: 640px;
    height: 544px;
    margin: 0 auto;
    top: 15px;
    background: linear-gradient(90deg, var(--polygon-color));
    -webkt-clip-path: var(--polygon);
    clip-path: var(--polygon);
}
#polygon2{
    position: relative;
    width: 610px;
    height: 518px;
    margin: 0 auto;
    top: 15px;
    background: #fff;
    -webkt-clip-path: var(--polygon);
    clip-path: var(--polygon);
}
#polygon_text{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
/* section calendar */
.sec_cal {
    width: 360px;
    margin: 0 auto;
    font-family: "NotoSansR";
}

.sec_cal .cal_nav {
    display: flex;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
}

.sec_cal .cal_nav .year-month {
    width: 300px;
    font-family: 'sqneoEB';
    font-size: 20px;
    text-align: center;
    line-height: 1;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 50px;
    height: 78px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius:5px;
}

.current.today {background: rgb(242 242 242);}
.current.today.check{
    position: absolute;
    content: "";
    width: 80%;
    border-radius: 100px;
    border: 3px solid red;

}
.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}
.sec_cal .cal_wrap .dates .day{
    cursor: pointer;
    box-sizing: border-box;
}
/*토요일*/
.sec_cal .cal_wrap .day:nth-child(7n -1) {
    color: #3c6ffa;
}
/*일요일*/
.sec_cal .cal_wrap .day:nth-child(7n) {
    color: #ed2a61;
}
/*이전달, 다음달*/
.sec_cal .cal_wrap .day.disable {
    color: #ddd;
}