@charset "utf-8";

:root{
    --polygon: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    --polygon-color: #7000FF 0%, #9E52FF 70.1%, #FFFFFF 98.97%;
}
/* * * * * * * * * * header 영역 * * * * * * * * * */
html,body,#wrap{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1100px;
}
/* * * * * * * * * * [S] #container * * * * * * * * * */
#container{
    position: relative;
    width: 100%;
    height: 70%;
    background-color: transparent;
    margin: 0 auto;
}
#uquiz_area{
    position: relative;
    width: 65%;
    height: 100%;
    margin: 0 auto;
}
#polygon5{
    position: relative;
    width: 700px;
    height: 595px;
    margin: 0 auto;
    background: linear-gradient(-90deg, var(--polygon-color));
    -webkt-clip-path:var(--polygon);
    clip-path: var(--polygon);
}
#polygon4{
    position: relative;
    width: 670px;
    height: 570px;
    margin: 0 auto;
    top: 15px;
    background: #fff;
    -webkt-clip-path:var(--polygon);
    clip-path: var(--polygon);
}
#polygon3{
    position: relative;
    width: 640px;
    height: 544px;
    margin: 0 auto;
    top: 15px;
    background: linear-gradient(90deg, var(--polygon-color));
    -webkt-clip-path:var(--polygon);
    clip-path: var(--polygon);
}
#polygon2{
    position: relative;
    width: 610px;
    height: 518px;
    margin: 0 auto;
    top: 15px;
    background: #fff;
    -webkt-clip-path:var(--polygon);
    clip-path: var(--polygon);
}
#polygon1{
    position: relative;
    width: 580px;
    height: 493px;
    margin: 0 auto;
    top: 15px;
    background: linear-gradient(180deg, var(--polygon-color));
    -webkt-clip-path:var(--polygon);
    clip-path: var(--polygon);
}
#polygon1 .uquiz_title{
    position: relative;
    font-family: 'sqneoHV';
    font-size: 40px;
    color: #fff;
    text-align: center;
    border: 3px solid salmon;
}
#uquiz_start_area{
    position: relative;
    background: #fff;
}
#polygon1 .uquiz_start_btn{
    position: relative;
    font-family: 'sqneoEB';
    color: transparent;
    text-align: center;

    background: linear-gradient(92.29deg, #7000FF 0%, #c392ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    border: 3px solid yellow;
}
