@charset "utf-8";

:root{
    --polygon: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    --polygon-color: #7000FF 0%, #9E52FF 70.1%, #FFFFFF 98.97%;
}
/* * * * * * * * * * header 영역 * * * * * * * * * */
html,body,#wrap{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1100px;
}
/* * * * * * * * * * [S] #container * * * * * * * * * */
#container{
    position: relative;
    width: 100%;
    height: 70%;
    background-color: transparent;
    margin: 0 auto;
    padding-top: 80px;
}
#uquiz_area{
    position: relative;
    width: 65%;
    height: 100%;
    margin: 0 auto;
}
#polygon5{
    position: relative;
    width: 700px;
    height: 595px;
    margin: 0 auto;
    background: linear-gradient(-90deg, var(--polygon-color));
    -webkt-clip-path: var(--polygon);
    clip-path: var(--polygon);
}
#polygon4{
    position: relative;
    width: 670px;
    height: 570px;
    margin: 0 auto;
    top: 15px;
    background: #fff;
    -webkt-clip-path: var(--polygon);
    clip-path: var(--polygon);
}
#polygon3{
    position: relative;
    width: 640px;
    height: 544px;
    margin: 0 auto;
    top: 15px;
    background: linear-gradient(90deg, var(--polygon-color));
    -webkt-clip-path: var(--polygon);
    clip-path: var(--polygon);
}
#polygon2{
    position: relative;
    width: 610px;
    height: 518px;
    margin: 0 auto;
    top: 15px;
    background: #fff;
    -webkt-clip-path: var(--polygon);
    clip-path: var(--polygon);
}
#polygon_text{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
#polygon_text .today_date{
    position: relative;
    font-family: 'sqneoEB';
    font-size: 20px;
    color: #000;
    top: 20px;
    text-align: center;
}
#polygon_text .q{
    position: relative;
    top: 45px;
    font-family: 'sqneoHV';
    font-size: 80px;
    color: #000;
    text-align: center;
}
#polygon_text .question{
    position: relative;
    width: 70%;
    top: 75px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 30px;
}
#polygon_text .answer{
    position: relative;
    width: 260px;
    height: 30px;
    top: 100px;
    margin: 0 auto;
    padding: 0 20px;
    border: none;
    border-radius: 3px;
    background-color: #ddd;
    /* box-sizing: border-box; */
}
#polygon_text .uquiz_btn{
    position: absolute;
    width: 260px;
    height: 50px;
    bottom: 30px;
    left: 50%;
    margin-left: -130px;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(92.29deg, #7000FF 0%, #c392ff 100%);
    cursor: pointer;
}
#polygon_text .uquiz_btn::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 25px;
    background-image:linear-gradient(92.29deg, #c392ff 0%, #7000FF 100%);
    opacity: 0;
    transition: all 1.5s;
}
#polygon_text .uquiz_btn:hover::before{
    opacity: 1;
}
#polygon_text .uquiz_btn span{
    position: absolute;
    display: block;
    width: 260px;
    top: 0;
    left: 0;
    line-height: 50px;
    font-family: 'sqneoEB';
    font-size: 20px;
    color: #fff;
    z-index: 100;
}
