@charset "UTF-8";

:root{
    --polygon-tb: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    --polygon-color: #7000FF 0%, #9E52FF 70.1%, #FFFFFF 98.97%;
    --main-color: #7000FF;
}
/* * * * * * * * * * header 영역 * * * * * * * * * */
html,body,#wrap{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1100px;
}
/* 드래그 불가 */
body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
/* * * * * * * * * * [S] title_bg_wrap * * * * * * * * * */
#title_bg_wrap{
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(../images/bg_sample.jpeg);
}
/* * * * * * * * * * [S] #container * * * * * * * * * */
#container{
    position: relative;
    width: 100%;
    height: 85%;
    background-color: transparent;
    margin-bottom: 80px;
}
#ucard_area{
    position: relative;
    width: 65%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
/* 프로젝트 이름 영역 */
#ucard_area .our_name{
    position: relative;
    width: 200px;
    height: 50px;
    margin: 0px auto;
    font-family: 'sqneoEB';
    text-align: center;
    border: 3px solid var(--main-color);
    border-radius: 25px;
    background-color: #fff;
    line-height: 44px;
}
/* 게임방법, 게임시작, 랭킹 버튼 영역 */
#polygon_game_btn_area{
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    padding: 124px 20px;
    /* border: 3px solid yellow; */
}
.polygon_game_btn{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 352px;
    margin-right: 25px;
    background: var(--main-color);
    -webkt-clip-path: var(--polygon-tb);
    clip-path: var(--polygon-tb);
    cursor: pointer;
}
.polygon_game_btn:last-child{
    margin-right: 0;
}
.poly_game_btn_inner{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 280px;
    height: 329px;
    left: 10px;
    top: 11px;
    background: #fff;
    -webkt-clip-path: var(--polygon-tb);
    clip-path: var(--polygon-tb);
}
.poly_game_btn_inner p{
    position: relative;
    margin: 0 auto;
    width: 200px;
    top: 100px;
    font-family: 'sqneoHV';
    font-size: 50px;
    color: var(--main-color);
    line-height: 60px;
    text-align: center;
}
.polygon_game_btn:hover .poly_game_btn_inner{
    background: var(--main-color);
}
.polygon_game_btn:hover .poly_game_btn_inner p{
    color: #fff;
}
/* 하단 육각형 게임 로고 영역 */
#polygon_area{
    position: relative;
    width: 200px;
    margin: 0px auto;
    cursor: pointer;
}
.polygon{
    position: relative;
    display: inline-block;
    width: 95.5px;
    height: 112.5px;
    background: var(--main-color);
    -webkt-clip-path: var(--polygon-tb);
    clip-path: var(--polygon-tb);
}
.poly_left{
    margin-right: 0px;
}
.poly_left_inner{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 90.5px;
    height: 106.5px;
    left: 2.5px;
    top: 3.25px;
    background: #fff;
    -webkt-clip-path: var(--polygon-tb);
    clip-path: var(--polygon-tb);
}
.polygon p{
    position: relative;
    margin: 0 auto;
    width: 62.5px;
    /* top: 50px; */
    font-family: 'sqneoHV';
    font-size: 20px;
    text-align: center;
}
.poly_left_p{
    top: 25px;
    color: var(--main-color);
}
.poly_right_p{
    position: relative;
    top: 62.5px;
    color: #fff;
}

