@charset "UTF-8";

:root{
    --polygon-tb: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    --polygon-color: #7000FF 0%, #9E52FF 70.1%, #FFFFFF 98.97%;
    --main-color: #7000FF;
}
/* * * * * * * * * * header 영역 * * * * * * * * * */
html,body,#wrap{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1100px;
}
/* 드래그 불가 */
body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
/* * * * * * * * * * [S] title_bg_wrap * * * * * * * * * */
#title_bg_wrap{
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(../images/bg_sample.jpeg);
}
/* * * * * * * * * * [S] #container * * * * * * * * * */
#container{
    position: relative;
    width: 100%;
    height: 120%;
    background-color: transparent;
    margin-bottom: 80px;
}
#ucard_area{
    position: relative;
    width: 65%;
    /* height: 120%; */
    margin: 0 auto;
    padding: 50px 0;
}
/* 프로젝트 이름 영역 */
#ucard_area .our_name{
    position: relative;
    width: 200px;
    height: 50px;
    margin: 0px auto;
    font-family: 'sqneoEB';
    text-align: center;
    border: 3px solid var(--main-color);
    border-radius: 25px;
    background-color: #fff;
    line-height: 44px;
}
/* 게임영역 */
.content {
    position: relative;
    margin: 20px auto 0;
    height: 750px;
    /* width: 100%; */
    box-sizing: border-box;
    background-color: #e6d3ff;
}	
.side.left{
    position: relative;
    height: 750px;
    border: 3px solid var(--main-color);
    width: 100%;
}
#div_gameBoard{
    position: relative;
    margin: 0 auto;
    height: 744px;
    width: 100%;
    min-width: 700px;
    padding: 5px;
    background-color: #e6d3ff;
}
#game_over{
    position: absolute;
    width: 100%;
    left: 0;
    top: 45%;
    background-color: #fff;
    padding: 10px;
    border: 3px solid var(--main-color);
    text-align: center;
    z-index: 20;
}
#game_over span{
    font-family: 'sqneoEB';
    font-size: 25px;
    line-height: 40px;
}
#game_over .game_over_span{
    color: #aaa;
}
#game_over .game_over_span_lf{
    padding-right: 50px;
}
#game_over .game_over_span:hover{
    color: #333;
}
.side.right{
    position: relative;
    height: 150px;
    width: 100%;
    min-width: 170px;
    margin: 0 auto;
    padding: 0 30px;
    border: 3px solid var(--main-color) ;
}
.side.right .btnArea{
    position: relative;
    height: 50px;
    margin: 20px auto 0;
}
.side.right .btnArea input{
    position: absolute;
    width: 140px;
    height: 50px;
    margin: 0px auto;
    left: 50%;
    margin-left: -70px;
    font-family: 'sqneoEB';
    text-align: center;
    border: 3px solid var(--main-color);
    border-radius: 25px;
    background-color: #fff;
    line-height: 40px;
}
#div_addPlayer{
    position: relative;
    /* border: 3px solid #333; */
    padding: 3px;
    margin: 3px;
    background-color: #fff;
}
#tbl_addPlayer tr{
    position: absolute;
    display: inline-block;
}
.tbl_addPlayer_tr1{
    left: 0;
}
.tbl_addPlayer_tr2{
    left: 50%;
    margin-left: -30px;
}
.tbl_addPlayer_tr3{
    right: 0;
}
#tbl_addPlayer td{
    position: relative;
    display: inline-block;
    font-family: 'sqneoEB';
    font-size: 20px;
}
#click_count{
    font-family: 'sqneoEB';
    font-size: 20px;
}
.rowNum {
    margin: 15px;
    width: 10px;
    height: 200px;
    font-weight: bold;
    font-size: 20px;
    display: none;
}
.card {
    margin: 15px;
    border: 1px solid #333;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    font-size: 20px;
    background-color: #fff;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s;
}
.found {
    margin: 15px;
    width: 150px;
    height: 150px;
    border : 0px solid white;
    background-color: "white";
    background-repeat: no-repeat;
    background-size: cover;
}
.row {
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 180px;
    width: 900px;
}
#tbl_boardHeader {
    width : 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: none;
}
#mask {  
    position:absolute;  
    left:0;
    top:0;
    z-index:9000;  
    background-color:#FFF;  
    opacity: 0;		/* 투명도 */
    display:none;  
}
/* 하단 육각형 게임 로고 영역 */
#polygon_area{
    position: relative;
    width: 200px;
    margin: 200px auto;
    cursor: pointer;
}
.polygon{
    position: relative;
    display: inline-block;
    width: 95.5px;
    height: 112.5px;
    background: var(--main-color);
    -webkt-clip-path: var(--polygon-tb);
    clip-path: var(--polygon-tb);
}
.poly_left{
    margin-right: 0px;
}
.poly_left_inner{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 90.5px;
    height: 106.5px;
    left: 2.5px;
    top: 3.25px;
    background: #fff;
    -webkt-clip-path: var(--polygon-tb);
    clip-path: var(--polygon-tb);
}
.polygon p{
    position: relative;
    margin: 0 auto;
    width: 62.5px;
    /* top: 50px; */
    font-family: 'sqneoHV';
    font-size: 20px;
    text-align: center;
}
.poly_left_p{
    top: 25px;
    color: var(--main-color);
}
.poly_right_p{
    position: relative;
    top: 62.5px;
    color: #fff;
}


