@charset "UTF-8";

:root{
    --polygon-tb: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    --polygon-color: #7000FF 0%, #9E52FF 70.1%, #FFFFFF 98.97%;
    --main-color: #7000FF;
}
/* * * * * * * * * * header 영역 * * * * * * * * * */
html,body,#wrap{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1100px;
}
/* 드래그 불가 */
body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
/* * * * * * * * * * [S] title_bg_wrap * * * * * * * * * */
#title_bg_wrap{
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(../images/bg_sample.jpeg);
}
/* * * * * * * * * * [S] #container * * * * * * * * * */
#container{
    position: relative;
    width: 100%;
    height: 70%;
    background-color: transparent;
    margin-bottom: 80px;
}
#ucard_area{
    position: relative;
    width: 65%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
/* 프로젝트 이름 영역 */
#ucard_area .our_name{
    position: relative;
    width: 200px;
    height: 50px;
    margin: 0px auto;
    font-family: 'sqneoEB';
    text-align: center;
    border: 3px solid var(--main-color);
    border-radius: 25px;
    background-color: #fff;
    line-height: 44px;
}
/* 육각형 영역 */
#polygon_area{
    position: relative;
    width: 800px;
    margin: 50px auto;
}
.polygon{
    position: relative;
    display: inline-block;
    width: 382px;
    height: 450px;
    background: var(--main-color);
    -webkt-clip-path: var(--polygon-tb);
    clip-path: var(--polygon-tb);
}
.poly_left{
    margin-right: 20px;
}
.poly_left_inner{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 362px;
    height: 426px;
    left: 10px;
    top: 13px;
    background: #fff;
    -webkt-clip-path: var(--polygon-tb);
    clip-path: var(--polygon-tb);
}
.polygon p{
    position: relative;
    margin: 0 auto;
    width: 250px;
    /* top: 50px; */
    font-family: 'sqneoHV';
    font-size: 80px;
    text-align: center;
}
.poly_left_p{
    top: 100px;
    color: var(--main-color);
}
.poly_right_p{
    position: relative;
    top: 250px;
    color: #fff;
}
#ucard_area .ucard_start{
    position: relative;
    width: 300px;
    height: 50px;
    margin: 30px auto;
    font-family: 'sqneoEB';
    text-align: center;
    border: 3px solid #7000ff;
    border-radius: 25px;
    background-color: #fff;
    line-height: 44px;
    cursor: pointer;
}
#ucard_area .ucard_start:hover{
    background-color: #7000ff;
    color: #fff;
}
